<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="wikiStyle.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101866603-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-101866603-5');
        </script>
    <style>
        h2 {
            color: #fcf8f3;
        }
       
    </style>
        
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="coronavirus.svg" width="30" height="30" alt="" class="d-inline-block align-top">  Covid-19 tracker</a>
        </nav>
    </div>
   
    
    <div class="container"
        style="display: flex; flex-direction: column; color: whitesmoke; margin-top:10vh; margin-bottom: 4vh;">

        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-10 text-center">
                <h2>Oops!</h2>
                <h1 style="font-size: 12.5vw;">
                    4<img src="corona.svg" style="width: 15vw;" />4
                </h1>

            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <a style="font-size: 1.1rem;">
                    <br>
                    Looks like it's not the right way. <br><br>
                    Let's Wash hands
                    <!--Animation by Vijay Sharma-->
                    <lottie-player
                    src="https://assets2.lottiefiles.com/private_files/lf30_Rq4Htd.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin: auto;"  loop  autoplay >
                    </lottie-player>
                    <br>
                    And
                    <br><br>
                        
                    <a href="/" class="last-links">Go to Home</a>
                        
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>
</html>