<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="wikiStyle.css"> 

    <link rel="shortcut icon" href="/covid.png" type="image/x-icon"> 

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101866603-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-101866603-5');
        </script>


</head>
<body>
    
    <div class="container-fluid">

      <%- include ('./navbar/nav') %>

          <div class="about-section">
              <div class="developer">

                    <h2>Developer</h2>
                  <ul>
                        <li>Created by <strong>Jashn Maloo</strong>. I'm a student based in Jaipur, India.</li>
                        <li>Contact me at me@jashn.xyz</li>
                        <li>Connect at <a href="https://www.linkedin.com/in/jashnmaloo/" class="last-links">LinkedIn</a></li>
                        <li>Follow on <a href="https://www.instagram.com/godofglee" class="last-links">Instagram</a></li>
                        
                        <br>
                        <li>Suggestions and collaborations are welcome.</li>
                        <br>
                        <div>
                            <style>.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#000000 !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 28px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/Jashn"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:15px;font-size:28px !important;">Buy me a coffee</span></a>
                        </div>
                  </ul>
                  
              </div>
              <div class="aboutSources">
                  <h2>Sources</h2>
                  <ul>
                    <li><a href="https://www.who.int/" class="last-links">WHO</a></li>
                    <li><a href="https://www.cdc.gov/" class="last-links">CDC</a></li>
                    <li><a href="https://github.com/CSSEGISandData/COVID-19" class="last-links">Johns Hopkins CSSE</a></li>
                </ul>
                <br>
                <p>This site uses APIs by <a href="https://about-corona.net/" class="last-links">ABOUT-CORONA</a>, <a href="https://github.com/novelcovid/api" class="last-links">NovelCOVID</a> and <a href="https://github.com.cnpmjs.org/amodm/api-covid19-in">Covid19india</a> which extracts information from trustsed sources like JHU, WHO, Worldometeres, etc.</p>
              </div>
          </div>
          
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>