@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Varela+Round&display=swap');

body {
    background-color: #141E30;
    font-family: 'Varela Round', sans-serif;
    color: #fcf8f3;
}
.navbar {
    background-color: #141E30;
    color: #fcf8f3;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}
.navbar-brand {
    padding: 5px 0;
}
.container-fluid {
    padding: 3% 15% 7%;
}
.nav-item {
    padding: 0 15px;
}
.col {
    margin: 3% 0;
}

h1 {
    margin: 3% 2% 2%;
    color: #fcf8f3;
}
table {
    border-bottom: 1pt solid #dab8f3;
}
.gradient-color {
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    transition: 0.5s;
}

.gradient-color:hover {
    background: #614385; 
    background: -webkit-linear-gradient(to left, #516395, #614385); 
    background: linear-gradient(to left, #516395, #614385); 
}
.lastUpdated {
    background-color: #141E30;
    color: #fcf8f3;
    border: 0;
    margin-left: 10px;
}
.card-title {
    font-family: 'Ubuntu', sans-serif; 
}
.table {
    color: #fcf8f3;
    overflow: hidden;
}
.table-wrapper {
    max-height: 650px;
    overflow-y: auto;
    display: inline-block;
  }

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #fff transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
th {
  background-color: #5c348d; 
  font-family: 'Ubuntu', sans-serif; 
  font-size: large;
}
.newFormat {
    color:#ff1e56 ;
}
.totalFormat {
    color: #40e0d0;
}
p {
    color: #fcf8f3;
}
.last-links {
    color: #fcf8f3;
    text-decoration: underline;
}
