
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
      <!--Icon by Just Icon-->
      <img src="coronavirus.svg" width="30" height="30" alt="" class="d-inline-block align-top">&nbsp; Covid-19 tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats-map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/india">India</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wiki">Wiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>